.container_1{
    display: flex;

}
.second{
    display: flex;

}

.second img{
    color: #2D2D2D;
    border: 1px solid transparent;
    margin: 40px 0 81px 200px;
}

.second h3{
    font-weight: 700;
    font-size: 55px; 
    color: #FF4081;
    width: 512px;
    height: 126px;
    text-align:left;
    margin-left: 202px;  
}


.second p{
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    width: 461px;
    height: 186px;
    color: #000000;
    margin-top:50px;
    margin-left:-510px ;
    padding-top: 140px;
}


#linha{
    background: #C4C4C4;
    width: 1344px;
    height: 5px;
    margin-left: 82px;
    margin-top: 68px;
}

.color-back{
    background: #F7F7F7;
}

.video{
    width: 462px;
height: 261px;
border: 3px solid #8E8E8E;
box-sizing: border-box;
margin: 55px 76px 73px 213px;

}
.second h4{
    font-weight: 700;
    font-size: 35px; 
    color: #FF4081;
    width: 512px;
    height: 40px;
    text-align:left;
    margin-left: 120px;  
}

.second legend{
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    width: 501px;
    height: 195px;
    color: #000000;
    margin-top:50px;
    margin-left:-510px ;
    padding-top: 70px;
}