body{
    box-sizing: border-box;
}

.first{
    display: flex;
    margin: 125px 39px 68px;
    padding: 0 10% 0 10%;
}

.first div h1{
    font-weight: 700;
    font-size: 60px;
    line-height: 69px;
    color: #FF4081;
    width: 488px;
    height: 216px;
    text-align: left;
}

 div > p{
    font-weight: 400;
    font-size: 27px;
    color: #555555;
    width: 462px;
    height: 62px;
    margin-bottom: 38px;
}

 div > a{
    border: 2px solid #FF4081;
    box-sizing: border-box;
    border-radius: 62px;
    padding: 8px 26px;
    text-decoration: none;
    color: #FF4081;
    font-weight: 400;
    font-size: 27px;
    line-height: 31px;
    width: 216px;
    height: 20.27px;
}

div > img{
    border: 2px solid transparent; 
    width: 501px;
    height: 511px;
    margin-left: 200px;
}

article{
    background: #F7F7F7;
    height: auto;
    padding-bottom: 134px;
}

ul{
    list-style: none;
}

article ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.investimento img{
    width: 288px;
    height: 270px;
    margin: 109px 120px 45px 140px;
    border: 1px solid transparent;
}
.investimento legend{
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    color: #FF4081;
    padding: 45px 3px 0 0;
    margin-left: 116px;
}
.investimento p{
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    width: 293px;
    height: 60px;
    color: #000000;
    margin-left: 130px ;
    margin-right: 100px;
    margin-bottom: 41px;
}

.investimento  a{
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    width: 216px;
    height: 20.27px;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    background: #FF4081;
    border-radius: 62px;  
    padding: 15px 50px;
    width: 233px;
    height: 51px;
}


.poupando img{
    width: 228px;
    height: 270px;
    align-items: center;
   justify-content: center;
   margin: 0;
   margin-top: 109px;
   margin-bottom: 45px;
}

.independencia img{
    width: 187px;
   height: 270px;
   align-items: center;
   justify-content: center;
   margin: 0;
   margin-top: 109px;   
   margin-bottom: 45px;
}

.third{
    margin: 0 auto;
    padding: 119px 0 155px 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 80px;
}

.third .comentario{
    display: flex;
}

.third h3{
    font-weight: 700;
    font-size: 37px;
    line-height: 50px;
    color: #009688;
    width: 100%;
    margin-left: 128px;
}

.third .comentario img{
    display: inline-block;
    background: #FFFFFF;
    border: 3px solid #FF4081;
    box-sizing: border-box;
    border-radius: 50px;
    width: 104px;
    height: 104px;
}

.third .comentario p{
    width:389px;
    font-weight: 300;
    font-size: 18px;
    line-height: 24.55px;
    color: #000000;
    margin-left: 20px;
    margin-top: 5px;
}

.third .comentario span{
    font-weight: 400;
font-size: 18px;
line-height: 25px;
color: #000000;
}

.margem{
   margin-left: -180px;
}

.fourth{
    background: #E5E5E5;
    height: 730px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 128px;
 }

.titulo-fourth{
    font-weight: 700;
    font-size: 37px;
    line-height: 43px;
    color: #009688;
    margin: 91px 0 73px 0;
    justify-content: space-evenly;
}
.fourth ul{
    display: flex;
  }
  
.fourth ul li{
      display: flex;
      flex-direction: column;
      width: auto;
      height: auto;
      justify-content: center;
}
  
.caixa-fourth{
    box-sizing: border-box;
    display: flex;
    width: 319px;
    height: 193px;
    background: #C4C4C4;
    margin-right: 109px;
    margin-bottom: 11px;
}
.fourth ul li p{
    display: flex;
    width: 319px;
    height: 114px;
    flex-direction: column;
    text-align: left;
    margin: 0;
}
.fourth span{
    font-size: 27px;
    color: #009688;
    font-weight: 700;
    width: 319px;
    height: 30px;
    display: flex;
    margin: 0;
    padding: 0;
}

div .botao-fourth a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: -100px;
    width: 289px;
    height: 51px;
}

.botao-fourth{
    display: block;
    font-weight: 400;
    font-size: 25px;
    color: #FF4081;
    border-radius: 62px;
    padding: 7px 0px 53px;
    width: 289px;
    margin: 10px auto 0;
    text-align: center;
}
  

